@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
}

/* LOGIN */

.img-hover-zoom {
  overflow: hidden;
  position: relative;
  text-align: center;
  color: white;
}

.img-hover-zoom a {
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.centered-text {
  font-size: 1.5em;
  font-weight: 700;
}

.centered-text-line {
  font-size: smaller;
}

.card-sign-in {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* END OF LOGIN */

/* NAVBAR */

.navbar {
  background-color: #e3f2fd;
}

/* END OF NAVBAR */

/* BERANDA MENU */

.centered-text-menu {
  font-size: 1em;
  font-weight: 700;
}

.card {
  border: none;
  font-family: 'Prompt', 'sans-serif';
}

.img-hover-zoom--brightness img {
  transition: transform 1s, filter 0.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(40%);
}

.img-hover-zoom--brightness:hover img {
  filter: brightness(18%);
  transform: scale(1.3);
}

/* END OF BERANDA MENU */

/* MAIN CONTAINER */
div.container a {
  color: black;
}

/* END OF MAIN CONTAINER */

/* FORM */

form {
  padding: 10px;
}

/* END OF FORM */

/* HIDDEN ROW */
#rowCariBarang,
#rowFilterBarang,
#rowTambahUnit,
#rowTambahPemasok,
#rowTambahPengguna {
  display: none;
}

/* END OF HIDDEN ROW */

/* HIDDEN IF NOT ADMIN */
.notadmin {
  display: none;
}

/* END OF HIDDEN IF NOT ADMIN */

/* HIDDEN IF NOT PEMERIKSAAN */
.notpemeriksaan {
  display: none;
}

/*  */

/* HIDDEN IF ADMIN */
.yesadmin {
  display: none;
}

/* END OF HIDDEN IF ADMIN */